<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login-page.css"> //
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> //
    <!-- <link rel="stylesheet" href="./sbuttons.min.css" integrity="sha384" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.statically.io/gh/sButtons/sbuttons/c135f5f7/dist/sbuttons.min.css">
    <title>login</title>
</head>

<body>
    <!-- <div class="header">
    </div> -->
    <div class="sub-part-1">
        <div id='login-container'>
            <div id='c1'>
                <div id="c2">
                    <div style="text-align: center;">
                        <h2 id="login-heading">LOGIN</h2>
                    </div>
                    <div class="container" style="margin: 3rem 0;">
                        <form action="/login" method="POST" style="margin-bottom: 2%;">
                            <div class="form-group">
                                <input type="email" class="form-control second-input" aria-describedby="emailHelp" placeholder="Email" name="email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control third-input" placeholder="Password" name="password">
                            </div>
                            <br>
                            <hr style="background-color: #EBEAE2;">

                            <div class="text-center">
                                <button type="submit" class="button">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


    </div>




</body>

</html>