@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #ff9999;
}
h1 {
  margin-bottom: 0.5em;
  font-size: 3.6rem;
}
p {
  margin-bottom: 0.5em;
  font-size: 1.6rem;
  line-height: 1.6;
}
.button {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 25px;
  border-radius: 4px;
}
.button-primary {
  position: relative;
  background-color: #c0ca33 ;
  color: #fff ;
  font-size: 1.8rem ;
  font-weight: 700 ;
  transition: color 0.3s ease-in ;
  z-index: 1 ;
}
.button-primary:hover {
  color: #c0ca33 ;
  text-decoration: none ;
}
.button-primary::after {
  content: '' ;
  position: absolute ;
  bottom: 0;
  left: 0 ;
  right: 0 ;
  top: 0 ;
  background-color: #fff ;
  border-radius: 4px ;
  opacity: 0 ;
  -webkit-transform: scaleX(0.8) ;
  -ms-transform: scaleX(0.8) ;
  transform: scaleX(0.8) ;
  transition: all 0.3s ease-in ;
  z-index: -1 ;
}
.button-primary:hover::after {
  opacity: 1 ;
  -webkit-transform: scaleX(1) ;
  -ms-transform: scaleX(1) ;
  transform: scaleX(1) ;
}
.overlay::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .2);
}
.header-area {
  position: relative;
  height: 110vh;
  /*background: #5bc0de;*/
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repear;
  background-size: cover;
}
/*The banner below the navbar*/
.banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.banner h1 {
  font-weight: 800;
}
.banner p {
  font-weight: 700;
}
.left-content
{
  width: 50% ;
}
.right-image
{
  width:50%;
  display: inline-block;
}
.woman-banner
{
  float:left;
  height:300px;
}
/*The banner css ends here*/

/*navbar css*/
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 99999;
}
.navbar .navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
}
.navbar .navbar-toggler {
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}
.navbar .navbar-toggler .menu-icon-bar {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  transition: all 0.3s ease-in;
}
.navbar .navbar-toggler .menu-icon-bar:first-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(45deg);
  -ms-sform: translateY(-1px) rotate(45deg);
  transform: translateY(-1px) rotate(45deg);
}
.navbar .navbar-toggler .menu-icon-bar:last-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(135deg);
  -ms-sform: translateY(-1px) rotate(135deg);
  transform: translateY(-1px) rotate(135deg);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar {
  opacity: 1;
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
  -webkit-transform: translateY(-7px) rotate(0);
  -ms-sform: translateY(-7px) rotate(0);
  transform: translateY(-7px) rotate(0);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
  -webkit-transform: translateY(5px) rotate(0);
  -ms-sform: translateY(5px) rotate(0);
  transform: translateY(5px) rotate(0);
}
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  color: #fff;
  font-size: 1.6rem;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar .dropdown-menu {
  padding: 0;
  background-color: rgba(0, 0, 0, .9);
}
.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  transition: color 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #c0ca33;
}
.navbar .dropdown-menu .dropdown-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
  background-color: #c0ca33;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:hover::before {
  opacity: 1;
}
.navbar.fixed-top {
  position: fixed;
  -webkit-animation: navbar-animation 0.6s;
  animation: navbar-animation 0.6s;
  background-color: rgba(0, 0, 0, .9);
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
  color: #c0ca33;
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
  background-color: #c0ca33;
}
.content {
  padding: 20px 0;
}
/*The logo*/
.logo
{
    height:12%;
    width:12%;
}
/*logo css ends here*/

/*banner css*/
.text-box
{
  margin-top: 20%;
  /*border:1px solid black;*/
  height: 60vh;
}
.text-box h1 {
  margin-top: 2%;
  font-weight: 800;
  font-size: 8.0rem;
}
.text-box p {
  font-weight: 500;
  font-size: 2.0rem;
}
.image-box
{
  margin-top: 20%;
  height: 60vh;
}




/*banner css ends here*/

/*footer css start here*/
.fa-asterisk,
.a-CTA,
h2,
header .navigation-bar a:hover,
header nav.active .navigation-bar a:hover,
footer .social-media .links a:hover,
.copyright .info li a,
.copyright .CTA li a:hover {
    color: #a96700;
}

header nav .navigation-bar .underline,
header .text .button button:hover,
.contact .form form button:hover,
.contact .text i:hover {
    background-color: #000000;
}

header .navigation-bar ul li,
header .text,
.about-us .text,
.reservation .text,
.menu .box-model,
.menu .text,
.fixed-image .text,
footer,
.copyright,
.contact .text i {
    text-align: center;
}

header nav,
header .navigation-bar ul,
.about-us,
.reservation,
.about-us .image-container,
.reservation .image-container,
.menu,
.menu .menu-image-container,
footer .contact-container,
.copyright ul,
.contact {
    display: flex;
}

header nav .toggle,
header nav .toggle span,
header .navigation-bar,
header .navigation-bar ul,
.menu .box-model .close,
footer .social-media .links a,
.copyright .CTA li a {
    transition: .3s;
}

header,
header nav .toggle span,
header .navigation-bar a,
header .text,
header .text .arrow .left,
header .text .arrow .right,
.recipes,
.menu .box-image-container,
.fixed-image .text,
.copyright,
.copyright .arrow-up {
    position: relative;
}

header nav .toggle,
header .navigation-bar .underline,
header .text .arrow .left:after,
header .text .arrow .right:after,
header .svg-down,
header .arrow-down,
.recipes .text,
.menu .box-model .close,
.menu .box-model .arrow .arrow-right,
.menu .box-model .arrow .arrow-left,
.menu .box-image-container .box-image,
.copyright .svg-up {
    position: absolute;
}

.recipes .text,
.fixed-image .text,
.menu .box-image-container,
.menu .box-image-container .box-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header nav,
header .navigation-bar a:hover .underline,
header .navigation-bar li.active .underline,
.menu .box-model,
.menu .box-image-container,
.menu .box-image-container .box-image {
    width: 100%;
}

button,
.dots>div,
header nav .toggle,
header .arrow-down,
.menu .box-model .close,
.menu .box-model .arrow .arrow-right,
.menu .box-model .arrow .arrow-left,
.menu .menu-image-container .image img,
footer .newsletter i,
.copyright .arrow-up {
    cursor: pointer;
}

.dots .active,
header nav.active,
header nav.active .toggle.active span,
header nav .toggle span,
header .navigation-bar .underline,
header .text .arrow .left,
header .text .arrow .right,
header .text .button button,
.contact form button {
    background-color: #fff;
}


header nav,
header .navigation-bar.show,
header .navigation-bar a:hover .underline,
header .navigation-bar li.active .underline,
header .text .arrow .left:after,
.menu .box-model,
.copyright .arrow-up {
    left: 0;
}

header .text .arrow .left:after,
header .text .arrow .right:after,
header .text span,
footer .social-media .links a,
footer .newsletter i,
.copyright .arrow-up,
.contact .text i,
.contact .form form label {
    display: inline-block;
}

footer {
    background-color: #000000;
    padding: 60px 20px;
}

footer .text {
    max-width: 500px;
    margin: auto;
}

footer .text h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    letter-spacing: 1.9px;
    margin-bottom: 25px;
}

footer .text .fa-asterisk {
    font-size: 12px;
}

footer .text p {
    line-height: 27px;
}

footer .contact-container {
    padding: 40px 0;
    max-width: 1000px;
    margin: auto;
}

footer .contact-container>div {
    flex: 1;
}

footer .contact-container h3 {
    font-size: 19px;
    letter-spacing: 1.9px;
}

footer .social-media .links a {
    margin: 0 10px;
    font-size: 25px;
}

footer .newsletter input {
    padding: 10px;
    width: 270px;
    background-color: #eee;
    border: none;
    margin-left: -15px;
}

footer .newsletter i {
    margin-left: -40px;
    vertical-align: middle;
    font-size: 21px;
}

.copyright {
    padding: 15px 40px 30px;
    background-color: #262526;
}

.copyright .svg-up {
    top: 0;
    left: 50%;
    margin-left: -96px;
    margin-top: -50px;
}

.copyright .arrow-up {
    width: 40px;
    height: 30px;
    top: -45px;
    color: #fff;
    line-height: 1.9
}

.copyright ul {
    justify-content: center;
}

.copyright li {
    color: #919191;
    font-size: 14px;
}

.copyright li:not(:last-of-type):after {
    content: '•';
    margin: 10px;
}

.copyright .CTA {
    margin-top: 25px;
}

.copyright .CTA li a {
    color: #919191;
}
/* Footer css end here*/



/*for the idea pitching*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
.containerBar-sp {
    display: grid;
    min-height: 100%;
}

.containerBar-sp {
    display: grid;
    background: #e0c9cb;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}

.containerBar-sp p {
    font-size: 0.6em;
    color: #ba7e7e;
    letter-spacing: 1px;
}

.containerBar-sp h1 {
    font-size: 1.2em;
    color: #4e4e4e;
    margin-top: -5px;
}

.containerBar-sp h2 {
    color: #c3a1a0;
    margin-top: -5px;
}

.containerBar-sp img {
    width: 290px;
    margin-top: 47px;
}

.name-input-sp {
    display: block;
    box-shadow: 5px 5px 15px rgba(#ba7e7e, 0.5);
    border-radius: 10px;
    position: relative;
    padding: 5px;
    width: 400px;
    height: 25px;

    margin: auto;
    margin-bottom: 5px;
}

.idea-sp {
    display: block;
    box-shadow: 5px 5px 15px rgba(#ba7e7e, 0.5);
    border-radius: 10px;
    position: relative;
    padding: 5px;
    width: 400px;
    height: 250px;
    margin: auto;
    margin-bottom: 5px;
    overflow: hidden;
}

.benefit-sp {
    display: block;
    box-shadow: 5px 5px 15px rgba(#ba7e7e, 0.5);
    border-radius: 10px;
    position: relative;
    padding: 5px;
    width: 400px;
    height: 250px;

    margin: auto;
    margin-bottom: 5px;
}

.containerBar-sp {
    position: relative;
    margin: auto;
    margin-bottom: 5px;
    overflow: hidden;
    width: 500px;
    height: 700px;
    /* box-shadow: 10px 10px 5px grey; */
    box-shadow: 5px 5px 15px #e97f7f;
    border-radius: 10px;
}
input:hover,
input:focus {
    outline: none;
}

.button-sp {
    display: block;
    box-shadow: 5px 5px 15px rgba(#ba7e7e, 0.5);
    border-radius: 10px;
    position: relative;
    width: 400px;

    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.containerBar-sp button {
    background: darken(#e0c9cb, 10%);
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ba7e7e;
    cursor: pointer;
}
.containerBar-sp button:hover {
    color: white;
    background: #ba7e7e;
    transition: all 0.4s ease-in-out;
}























@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 20px;
  }
  .navbar-nav {
    padding: 0 20px;
    background-color: rgba(0, 0, 0, .9);
  }
  .navbar.fixed-top .navbar-nav {
    background: transparent;
  }
}
@media screen and (min-width: 767px) {
  .banner {
    padding: 0 150px;
  }
  .banner h1 {
    font-size: 5rem;
  }
  .banner p {
    font-size: 2rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    padding: 23px 15px;
  }
  .navbar-dark .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 30%;
    right: 30%;
    height: 1px;
    background-color: #fff;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.1s ease-in;
  }
  .navbar-dark .navbar-nav .nav-link:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
  .dropdown-menu {
    min-width: 200px;
    -webkit-animation: dropdown-animation 0.3s;
    animation: dropdown-animation 0.3s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
  }
}
@-webkit-keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
/*navabar css ends here*/

@media screen and (max-width:770px)
{
  .header-area
  {
    height: 160vh;
  }
}
@media screen and (max-width:770px)
{
  .sec
  {
    margin-bottom: 5%;
  }
}
/*media queries for the footer*/

@media (max-width: 992px) {
  body {
      padding: 0;
  }
  .contact {
      display: block;
      padding: 78px 20px;
  }
  .contact .form {
      margin-left: 0;
      margin-top: 40px;
  }
}

@media (max-width: 768px) {
  footer .contact-container {
      display: block;
  }
  footer .social-media {
      margin-bottom: 40px;
  }
  .copyright ul {
      display: block;
      margin-top: -20px;
  }
  .copyright li {
      margin-bottom: 5px;
  }
  .copyright li:not(:last-of-type):after {
      content: '';
  }
}
