.App {
    font-family: sans-serif;
    text-align: center;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    /* background-color: red !important; */
    background-color: #2a333c !important;
    --ggs: 6;
}

.sub-part-1 {
    margin-top: 40%;
    margin: auto;
    background-color: #2a333c;
}

#login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Safari, Opera */
    margin: auto;
}

.form-control,
.form-group {
    margin: 0 auto;
}

.first-input {
    border-radius: 3px 3px 0 0;
}

.second-input {
    border-radius: 0 0 0 0;
}

.third-input {
    border-radius: 0 0 3px 3px;
}

.button {
    background-color: #ebeae2;
    /* width: 100%; */
    width: 100%;
    border-radius: 3px;
    outline: none;
    border: none;
    color: black;
    /* font-weight: bold; */
    font-size: 18px;
    padding: 7px;
}

#c1 {
    height: 460px;
    width: 430px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    background-color: #2a333c;
    border: 2px solid #fe8975;
    border-radius: 2%;
}

#c2 {
    height: 432px;
    width: 430px;
    margin-top: 14px;
    margin-left: 3%;
    position: absolute;
    background-color: #e67779;
    border-radius: 2%;
    border: 2px solid #ffc7ba;
}

#login-heading {
    margin-top: 4%;
    color: white;
}

.button {
    background-color: #f1c8be;
    /* width: 100%; */
    width: 100%;
    border-radius: 3px;
    outline: none;
    border: none;
    color: black;
    /* font-weight: bold; */
    font-size: 18px;
    padding: 7px;
}

.container {
    margin: 3rem 0;
}

.routingClass {
    text-align: "center";
    background-color: #4a4a4a;
    width: 100%;
    padding: 0.7rem;
    color: #bcf1ed;
    border-radius: 0 0 0.5rem 0.5rem;
}

.registerText {
    color: #007bff !important;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}

